services:
  ai-editor:
    build: .
    container_name: ai_video_editor
    ports:
      - "8501:8501"
    volumes:
      # Persist Inputs, Outputs, and State
      - ./input_clips:/app/input_clips
      - ./output_clips:/app/output_clips
      - ./output_videos:/app/output_videos
      - ./data:/app/data
      # Cache Persistence (Centralized)
      - ./data/cache_root:/root/.cache
      - ./data/cache_easyocr:/root/.EasyOCR
    environment:
      - XDG_CACHE_HOME=/root/.cache
      - STREAMLIT_SERVER_MAX_UPLOAD_SIZE=2000
      - MONGO_URI=mongodb://mongo:27017/
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: ai_video_mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
